spring:
  application:
    name: monolith
    description: this is an AI powered SAAS

  datasource:
    url: jdbc:postgresql://localhost:9000/testDB
    username: testUser
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true


server:
  port: 8081
